@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.invisible{
    height: 90px;
}

body {
    font-family: 'Poppins', sans-serif;
}

h2{
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
    color: #ECD8FE;
    margin-bottom: 25px;
}

.container {
    max-width: 1288px;
    margin: 0 auto;
}

.menu{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 15px 15px;
    background-color: #3D2F87;
}

.logo{
    color: #FFFFFF;
    height: 50px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 5px 20px;
    color: #dbdbdb;
}

.menu .navbar ul li a:hover {
    color: #FFFFFF;
}

#menu {
    display: none;
}

.menu-icono {
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
}

header {
    min-height: 70vh;
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}

.backgroundHome{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    transform: scaleX(-1);
}

.header-content {
    display: flex;
    align-items: center;
    margin: 50px 200px 50px 200px;
    width: 100%;
    z-index: 1;
}

.header-txt {
    width: 50%;
}

.header-txt h1 {
    font-size: 45px;
    color: #FFFFFF;
    font-weight: 800;
    margin-bottom: 30px;
}

.header-txt p {
    color: #e5dddd;
    font-size: 16px;
    margin-bottom: 95px;
}

.header-img {
    width: 100%;
    text-align: left;
}

.header-img img{
    width: 225px;
    background-color:#cc99f865;
    padding: 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px 7.5px rgba(0, 0, 0, 0.519);
}

.header-imgv img {
    margin: 250px 0px 0px 350px;
    width: 250px;
}

.services{
    margin: 80px 10%;
    width: 80%;
}

.service{
    background-color: #3D2F87;
    width: 50%;
    padding: 10px;
    border-radius: 15px;
    transition: scale linear 150ms;
    box-shadow: 0 0 100px 0 rgba(43, 33, 133, 0.519);
}

.service:hover{
    scale: 110%;
}

.serviceTitle{
    padding: 10px;
    background-color: #fff;
    width: 100%;
    border-radius: 15px 15px 0 0;
    text-align: center;
    margin-bottom: 10px;
}

.serviceTxt{
    font-size: 16px;
    padding: 10px;
    padding-bottom: 15px;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    text-align: center;
}

.right{
    text-align: right;
    display: flex;
    flex-direction: column;
    margin: 50px 50%;
}

.information{
    display: flex;
    min-height: 400px;
    max-height: 600px;
    background-color: #3D2F87;
    flex-direction: column;
    align-items: center;
}

.titleProject{
    font-size: 4em;
    color: #FFFFFF;
    margin: 15px;
}

.containerProject{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pointProject{
    width: 20px;
    height: 20px;
    background-color: #adadad;
    border-radius: 25%;
    box-shadow: 0 0 10px .5px rgba(0, 0, 0, 0.519);
    z-index: 1;
}

.lineProject{
    width: 650px;
    height: 10px;
    background-color: #adadad;
    box-shadow: 0 0 10px .5px rgba(0, 0, 0, 0.519);
    z-index: 2;
}

.information-2{
    display: flex;
    width: 50%;
    justify-content: center;
}

.information-2 img{
    width: 100px;
    height: 170px;
    padding: 0 10px;
    transition: height linear 150ms;
}

.information-2 img:hover{
    width: 240px;
    height: 440px;
}

.publicity{
    height: 500px;
}

.publicity h2{
    text-align: center;
    margin: 70px 0 30px 0;
    color: #3D2F87;
}

.containerPublicity{
    width: 30%;
    margin: 0 35%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-1 {
    display: inline-block;
    padding: 10px 35px;
    background-color: #cc99f8;
    color: #FFFFFF;
    border-radius: 25px;
    margin: 5px 30px 5px 30px;
}

.btn-1:hover {
    background-color: #ecd8fe;
}

footer{
    display: flex;
    padding: 20px;
    background-color: #3D2F87;
    justify-content: space-around;
}

.link{
    text-align: center;
    color: #FFFFFF;
}

.images{
    margin-top: 10px;;
}

.images img{
    width: 150px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.link img{
    width: 100px;
}

.link a{
    color: #cc99f8;
}

.link a:hover{
    color: #fff;
}

.link iframe{
    border: 0;
    width: 400px; 
    height: 120px; 
}